@mixin flex{
    display: flex;
}
@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-justify-center{
    display: flex;
    justify-content: center;
}

@mixin flex-aligin-center{
    display: flex;
    align-items: center;
}

@mixin full-parent-size{
    height: 100%;
    width: 100%;
}
