@use '/@/styles/common.scss';
@import '/@/styles/theme.scss';
.container{
    @include common.flex-aligin-center;
    flex-direction: column;
    width: 100%;
    padding: 0 30px 40px 30px;
    box-sizing: border-box;

    .selector{
        @include common.flex-aligin-center;
        width: calc(100% - 20px);
        padding: 30px  0;
        border-bottom: 1px solid $primary_color_gray;
        box-sizing: border-box;
        font-size:16px;
        :global{
            .ant-select{
                margin-left:20px ;
                min-width: 200px;
            }
        }
        
    }

    .tagList{
        @include common.flex-aligin-center;
        flex-direction: column;
        width: 100%;
        // min-height: 370px;
        .eachRow{
            width: 100%;
            margin-top: 30px;
            @include common.flex-aligin-center;
            flex-wrap: wrap;

            :global{
                .ant-btn{
                    margin: 10px 10px 0 10px;
                    flex-shrink: 0;
                    min-width: 160px;
                }
            }

        }
        
        .empty{
            // margin-top: 40px;
        }
    }
}

.button{
    margin-top:10px ;
}

.empty{
    margin-top: 40px;
    min-height: 400px;
    @include common.flex-center
}
