@use '/@/styles/common.scss';
.container{
    @include common.flex-aligin-center;
    flex-direction: column;
    width: 100%;
    padding: 0 30px 40px 30px;
    box-sizing: border-box;

    .selector{
        @include common.flex-aligin-center;
        width: calc(100% - 20px);
        padding: 30px  0;
        border-bottom: 1px solid black;
        box-sizing: border-box
    }

    .tagList{
        @include common.flex-aligin-center;
        flex-direction: column;
        width: 100%;
        min-height: 400px;
        .eachRow{
            width: 100%;
            margin-top: 30px;
            @include common.flex-aligin-center;
            flex-wrap: wrap;
        }

        button{
            margin: 10px 10px 0 10px;
            flex-shrink: 0;
            width: 160px;
            height: 32px;
        }
        
        .empty{
            // margin-top: 40px;
        }
    }
}

.button{
    margin-top:10px ;
}
