@use '/@/styles/common.scss';
@import '/@/styles/theme.scss';


.container{
    width: 1856px;
    min-height:310px ;
    
    background-color: white;
    @include common.flex;
    flex-direction: column;

        .titleContent{
            font-size: 20px;
            line-height: 20px;
            // margin:5px 0;
        }

    .content{
        // @include common.full-parent-size;
        // min-height: 280px;
        @include common.flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        box-sizing: border-box;
        // background-color: aquamarine;

        .listContent{
            margin:20px 0 0 0;
            min-width: 618px;
            min-height: 230px;
            @include common.flex-justify-center;
            // background-color: azure;
        }
    }
   
}

.container .content{
    flex:1;
}
.empty{
    @include common.flex-center;
    width: 100%;
    flex: 1;
}