@use '/@/styles/common.scss';



.container{
    width: 1856px;
    min-height:310px ;
    
    background-color: white;
    // @include common.box-shadow;
    @include common.flex;
    flex-direction: column;
    // box-shadow: 0px 10px 10px rgba(0, 0, 0 , .10);
    // filter: drop-shadow(10px 10px 10px 10px rgba(0, 0, 0, .8));
    .title{
        @include common.full-parent-size;
        // height: 50px;
        @include common.flex-aligin-center;
        // background-color: aqua;
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
        .logo{
            margin: 0 20px
        }
        .titleContent{

        }
    }

    .content{
        // @include common.full-parent-size;
        // min-height: 280px;
        @include common.flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        box-sizing: border-box;
        // background-color: aquamarine;

        .listContent{
            margin:20px 0 0 0;
            min-width: 618px;
            min-height: 230px;
            @include common.flex-justify-center;
            background-color: azure;
        }
    }
   
}

.container .content{
    flex:1;
}